<!-- post list -->
<!--<span class='highlight'>
  <a href="https://cedricscherer.com/top/about"><span style='font-family:Canicule Display;'>&nbsp;&rarr;&nbsp;&nbsp;</span>Leer perfil completo&emsp;</a><a href="https://calendly.com/cedricscherer/lets-meet" target="_blank"><span style='font-family:Canicule Display;'>&nbsp;&rarr;&nbsp;&nbsp;</span>Hablemos sobre proyectos</a>
</span><br><br><br>-->
<hr>
{{ range $index, $element := $.Paginator.Pages }}
<div class="post-preview">
    <a href="{{ .Permalink }}">
        <h2 class="post-title">
            {{ .Title }}
        </h2>
	{{with .Params.subtitle }}
        <h3 class="post-subtitle">
            {{ . }}
        </h3>
	{{ end }}
        <div class="post-content-preview">
	{{ with .Description }}
            {{ . }}
        {{ else }}
            {{ .Summary}}
       {{ end }}
        </div>
    </a>
    <p class="post-meta">
     <!-- Posted by {{ with .Params.author }}{{ . }} • {{ else }}{{ .Site.Title }}{{ end }} {{ .Date.Format "Monday, January 2, 2006" }} -->
     {{ .Date.Format "Monday • January 2, 2006" }} 
    </p>
</div>
<hr>
<b style='font-size:1.25em;line-height:.75;'><br>Como <b class='simple-highlight-grn'>consultor, analista e instructor</b>, me especializo en el análisis y visualización de datos para ayudar a organizaciones y equipos a convertir información en decisiones estratégicas.</b><br><br>
{{ end }}